.container {
   max-width: 1200px;
   margin: 20px auto;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.container h2 {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

